body {
  background-color: #f7f7fa;
  font-family: "Roboto", sans-serif;
}
.weather-app {
  background-color: white;
  margin: 45px auto;
  max-width: 600px;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
}
.search-form-input {
  background-color: #f7f7fa;
  border: none;
  border-radius: 6px;
  width: 80%;
  padding: 15px 20px;
  font-size: 16px;
}

.search-form-button {
  background-color: #875df2;
  padding: 15px 20px;
  border: none;
  border-radius: 6px;
  color: #f7f7fa;
}
