body {
  background-color: #f7f7fa;
}
.weather-app {
  background-color: white;
  margin: 30px auto;
  max-width: 600px;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
}
